<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aba">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ABA"
        android:usesCleartextTraffic="true">
        <activity

            android:name=".ui.latihan.menyusunhuruf.DetailSusunHurufActivity"
            android:exported="true" />

        <activity
            android:name="com.example.aba.ui.latihan.HasilRecordAudioActivity2"
            android:exported="false" />
        <activity
            android:name="com.example.aba.ui.latihan.HasilRecordAudioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.latihan.menyusunhuruf.SusunHurufActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajar.kata.KataActivity"
            android:exported="true" />
        <activity
            android:name="com.example.aba.ui.latihan.mengejahuruf.RecordMengejaHurufActivity"
            android:exported="true" />
        <activity
            android:name=".ui.pencapaian.PencapaianActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajar.kata.DetailKataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajar.huruf.HurufActivity"
            android:exported="true" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>